<center>
    <h1>Enter your Allergies</h1>
</center>
<br>

<div class="col-md-12">
    <div class="container">

        <div class="row col-sm-offset-3 col-sm-6">
            <button class="btn btn-primary" ng-click="orderBy='';">No Sort</button>
            <button class="btn btn-primary" ng-click="orderBy='order';">Report</button>
            <button class="btn btn-primary" ng-click="orderBy=catSort;">Category</button>
            <button class="btn btn-primary" ng-click="orderBy='item';">Alphabetical</button>
        </div>
        <div class="row col-sm-offset-3 col-sm-6">
            <label>
                Level 5:
                <input type="checkbox" ng-model="showLevel.level5">
            </label>
            <label>
                Level 4:
                <input type="checkbox" ng-model="showLevel.level4">
            </label>
            <label>
                Level 3:
                <input type="checkbox" ng-model="showLevel.level3">
            </label>
            <br>
            <label>
                Level 2:
                <input type="checkbox" ng-model="showLevel.level2">
            </label>
            <label>
                Level 1:
                <input type="checkbox" ng-model="showLevel.level1">
            </label>
            <label>
                Level 0:
                <input type="checkbox" ng-model="showLevel.level0">
            </label>
        </div>
        <br><br><br>

        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button class="btn btn-success" ng-click='addAllergies()'>Save Changes</button>
                    <button class="btn btn-danger" ng-click='resetAllergies()'>Reset</button>
                </div>

            </div>

            <div class="form-group" ng-hide="orderBy==catSort">
                <div class="col-sm-offset-3 col-sm-6">

                    <div ng-repeat="allergen in allergens | orderBy: orderBy">
                        <div ng-show="showCategory(allergen.category, orderBy)">
                            <h4>{{allergen.category}}</h4>
                        </div>
                        <label ng-show="showItem(allergies[allergen.item_name].level)">
                             <span ng-style="{'background-color': allergies[allergen.item_name].color}">
                                 {{allergen.item}}
                             </span>
                            : &nbsp;
                            <select ng-model="allergies[allergen.item_name]"
                                    ng-options="reaction.name for reaction in reactions">
                            </select>
                        </label>
                    </div>

                </div>
            </div>
            <div class="form-group" ng-show="orderBy==catSort">
                <div class="col-sm-offset-3 col-sm-6">

                    <div ng-repeat="allergen in allergens | orderBy:['category','item']">
                        <div ng-show="showCategory(allergen.category, orderBy)">
                            <h4>{{allergen.category}}</h4>
                        </div>
                        <label ng-show="showItem(allergies[allergen.item_name].level)">
                             <span ng-style="{'background-color': allergies[allergen.item_name].color}">
                                 {{allergen.item}}
                             </span>
                            : &nbsp;
                            <select ng-model="allergies[allergen.item_name]"
                                    ng-options="reaction.name for reaction in reactions">
                            </select>
                        </label>
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>


