<center>
    <h1>Enter your Allergies</h1>
</center>
<br>

<div class="col-md-12">
    <div class="container">

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-6 control-label"><span
                        class="milk">Milk:&nbsp;&nbsp;{{currentUser.profile.milk}}</span>
                </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.milk">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span
                        class="soy">Soy:&nbsp;&nbsp;{{currentUser.profile.soy}}</span> </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.soy">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span class="wheat">Wheat:&nbsp;&nbsp;{{currentUser.profile.wheat}}</span>
                </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.wheat">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span
                        class="egg">Egg:&nbsp;&nbsp;{{currentUser.profile.egg}}</span> </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.egg">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span class="peanut">Peanut:&nbsp;&nbsp;{{currentUser.profile.peanut}}</span>
                </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.peanut">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span
                        class="tree_nut">Tree Nut:&nbsp;&nbsp;{{currentUser.profile.tree_nut}}</span> </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.tree_nut">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span
                        class="fish">Fish:&nbsp;&nbsp;{{currentUser.profile.fish}}</span>
                </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.fish">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label"><span class="shellfish">Shellfish:&nbsp;&nbsp;{{currentUser.profile.shellfish}}</span>
                </label>

                <div class="col-sm-6">
                    <select ng-model="allergies.shellfish">
                        <option value="">---Please select a new allergy level---</option>
                        <option value="0">0 - no reaction</option>
                        <option value="1">1 - mild reaction</option>
                        <option value="2">2 - less severe reaction</option>
                        <option value="3">3 - severe reaction</option>
                        <option value="4">4 - more severe reaction</option>
                        <option value="5">5 - most severe reaction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <button ng-click='addAllergies()'>Change Allergies</button>
                </div>
            </div>
        </form>

    </div>
</div>


