<ion-view view-title="Comment" name="comment-view">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-divider item-calm">
        <h1>
          <img src="img/Scott.png">
          Scott
        </h1>
      </div>

      <div class="item item-body">
        <p>
          Unfortunately, the Italian dressing has dairy in it. But I had the server remove the cheese,
          mayo and dressing, and it tasted great!
        </p>

        <p>
          <a href="#" class="subdued">2 Like</a>
          <a href="#" class="subdued">1 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

    <div class="list card">

      <div class="item item-divider item-calm">
        <h1>
          <img src="img/Susan.png">
          Susan
        </h1>
      </div>

      <div class="item item-body">
        <p>
          I'm so glad that someone else asked. I always get embarassed to ask; but if I don't, I can
          get in trouble. The server was so nice about modifying the food, I'll definitely come back:).
        </p>

        <p>
          <a href="#" class="subdued">2 Like</a>
          <a href="#" class="subdued">0 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

    <div class="list card">

      <div class="item item-divider item-calm">
        <h1>
          <img src="img/Alexis.png">
          Alexis
        </h1>
      </div>

      <div class="item item-body">
        <p>
          I love this app. It makes dining out a pleasure again
        </p>

        <p>
          <a href="#" class="subdued">0 Like</a>
          <a href="#" class="subdued">0 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
